@charset "UTF-8";
@import url('main.css');
@import url('media.css');
/* 	CSS Document 
	author : chris allison
	date : 10-8-13
	project : portfolio
*/	

/*==== Navbar styles ====*/
.navbar {
	background-color:rgba(44, 62, 80,0.9);
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus  {
	background-color:rgba(44, 62, 80,1.0);
	color:rgba(236, 240, 241,1.0); /*clouds*/
}
.navbar-inverse .navbar-brand:hover {
	color:rgba(192, 57, 43,1.0);
	-moz-transition:color .5s;
	-webkit-transition:color .5s;
	-o-transition:color .5s;
	transition:color .5s;  
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.tooltip-inner {
  	background-color:rgba(192, 57, 43,1.0);
  	color: rgba(236, 240, 241,1.0); /*clouds*/
}
.tooltip.top .tooltip-arrow {
	bottom:1px;
	border-top-color:rgba(192, 57, 43,1.0);	
}
.navbar-inverse {
	border-color:rgba(192, 57, 43,1.0);
}

/*==== Sidebar-nav styles ====*/
.sidebar-nav {
    background-color:rgba(189, 195, 199,0.55);
	border-color:rgba(189, 195, 199,0.55);
}
.sidebar-nav li {
	color:rgba(192, 57, 43,1.0);
}
.sidebar-nav li a {
	color:rgba(236, 240, 241,1.0);	
}
.morebtn > .btn {
	background-color:rgba(52, 152, 219,1.0);
	border-color:rgba(52, 152, 219,1.0);
	color:rgba(236, 240, 241,1.0);	
}
/*==== banner and jumbotron styles ====*/
.banner {
	background-color:rgba(192, 57, 43,1.0);
}
.jumbo-about {
	background-color:transparent;	
}
.jumbo-about h1 {
	color:rgba(192, 57, 43,1.0);	
}
h2,
.quote {
	color:rgba(236, 240, 241,1.0);	
}
.interest h2 {
	color:rgba(44, 62, 80,1.0);
}
/*==== Footer styles ====*/
footer > p > a:hover {
	color:rgba(192, 57, 43,0.9);
	-moz-transition:color .5s;
	-webkit-transition:color .5s;
	-o-transition:color .5s;
	transition:color .5s;		
}
footer > p,
footer > p > a {
	color:rgba(44, 62, 80,0.9);
}