@charset "UTF-8";
@import url('main.css');
/* 	CSS Document 
	author : chris allison
	date : 10-8-13
	project : portfolio
*/	


/*:: color scheme ::*/

/*midnight : #2c3e50 | rgba(44, 62, 80,1.0)*/

/*peter blue : #3498db | rgba(52, 152, 219,1.0)*/

/*pomegranate : #c0392b | rgba(192, 57, 43,1.0)*/

/*emerald : #2ecc71 | rgba(46, 204, 113,1.0)*/

/*sun flower : #f1c40f | rgba(241, 196, 15,1.0)*/

/*clouds : #ecf0f1 | rgba(236, 240, 241,1.0)*/

/*silver : #bdc3c7 | rgba(189, 195, 199,1.0)*/

/*asbestos : #bdc3c7 | rgba(127, 140, 141,1.0)*/

/*wisteria : #8e44ad | rgba(142, 68, 173,1.0)*/